<html>
  <head>
    <title>Raymond's DB Project</title>
  </head>
  <header>
    <h1>Add Sailors</h1>
    <p>Click add sailor when done</p>
  </header>
  <body>
      <form action="/sailors/add" method=GET>
          <label>1. Name</label>
          <input type="text" name="sailor-name"/>
          <label>2. Age</label>
          <input type="number" name="sailor-age"/>
          <label>3. Years of Experience</label>
          <input type="number" name="sailor-experience"/>          
          <input type=submit value="add sailor"/>
      </form>
  </body>
</html>
